@import "../../../styles/main.scss";

.modal {
  background-color: $white;
  border-radius: rem(10);
  overflow: auto;
}

.add_modal,
.edit_modal {
  padding: rem(24);
  width: 80vw;
  max-width: rem(620);
  height: 80vh;
}

.delete_modal {
  width: 60vw;
  height: 50vh;
}
