@import "../../styles/main.scss";

.link_list {
  display: flex;
  flex-direction: column;
  font-family: $poppins;
  font-weight: 500;
  font-size: rem(24);

  @include breakpoint(medium) {
    font-size: rem(28);
  }

  @include breakpoint(large) {
    font-size: rem(21);
    flex-direction: row;
  }

  gap: rem(18);

  &__active {
    font-weight: 700;
  }
}

.link_list_header {
  color: $black !important;

  .link_list__active {
    color: $blue;
  }
}

.link_list_footer {
  color: $white !important;

  .link_list__active {
    color: $white;
    text-decoration: underline;
  }
}
