@import "../../../../styles/main.scss";

.admin_workshop_form {
  height: 100%;
  padding: rem(32);
  display: flex;
  flex-direction: column;
  gap: rem(14);
  overflow: auto;

  input,
  select,
  textarea {
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid rgba(#010101, 0.2);
    border-radius: rem(4);
    font-family: "Poppins";
    font-size: rem(16);
    padding: rem(10);
  }

  select option {
    text-transform: capitalize;
  }

  textarea {
    resize: none;
    height: rem(160);
  }

  button {
    margin-top: auto;
  }
}
