@import "../../../../../../../styles/main.scss";

.organization_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: rem(24);

  &__data {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    span {
      font-family: $poppins;
      font-weight: 800;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: rem(8);
    }
  }

  &__function {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(24);

    .organization_link {
      color: $blue;
      text-decoration: underline;
    }

    &__buttons {
      display: flex;
      gap: rem(18);

      button {
        width: rem(40);
        height: rem(40);
      }
    }
  }
}
