@import "../../../../styles/main.scss";

.workshop_list_container {
  h1 {
    text-align: center;
    font-size: rem(28);
    font-weight: bold;

    @include breakpoint(large) {
      font-size: rem(54);
    }
  }
}

.workshop_list {
  margin-top: rem(48);
  display: flex;
  flex-direction: column;
  gap: rem(18);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: rem(40);
  justify-content: left;
}
