@import "../../../../styles/main.scss";

.workshop_list {
  display: flex;
  flex-direction: column;
  gap: rem(18);

  h1 {
    text-align: center;
    font-size: rem(28);
    font-weight: bold;

    @include breakpoint(large) {
      font-size: rem(54);
    }
  }
}
