@import "../../../../styles/main.scss";

.delete_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(24);

  h2 {
    font-size: rem(24);
    font-weight: 600;
    text-transform: capitalize;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: rem(24);
  }
}
