@import "../../styles/main.scss";

.footer {
  position: relative;
  margin-top: auto;

  &__wave {
    display: flex;
    flex-direction: column;

    height: rem(84);
    width: 100%;
    img {
      margin-top: auto;
      object-fit: contain;
      width: 100%;
    }
  }

  &__box {
    height: auto;
    width: 100%;
    padding: rem(48) 0 rem(81);

    @include breakpoint(large) {
      padding: rem(72) 0 rem(94);
    }

    background-color: $blue;

    &__container {
      height: 100%;
      display: flex;
      gap: rem(42);

      flex-direction: column;

      @include breakpoint(large) {
        justify-content: space-between;
        flex-direction: row;
      }

      width: 90%;
      margin: auto;
      max-width: rem(1440);
      height: 100%;
    }

    &__logo {
      align-self: baseline;
      img {
        filter: brightness(10000%);
      }

      &__mobile {
        display: flex;

        @include breakpoint(large) {
          display: none;
        }
      }
      &__desktop {
        display: none;

        @include breakpoint(large) {
          display: flex;
        }
      }
    }
  }
}
