@import "../../../../styles/main.scss";

.workshop_list {
  display: grid;
  gap: rem(24);
  width: 100%;

  grid-template-columns: 1fr;
  justify-items: center;

  @include breakpoint(large) {
    justify-items: baseline;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
