@import "./styles/layout.scss";
@import "./styles/main.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $poppins;
}

p {
  font-family: $roboto;
}

input,
select,
textarea {
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid rgba(#010101, 0.2);
  border-radius: rem(4);
  font-family: $poppins;
  font-size: rem(16);
  padding: rem(10);
}

select option {
  text-transform: capitalize;
}

textarea {
  resize: none;
  height: rem(160);
}

.form_error {
  margin-top: rem(10);
  color: $red;
}
