@import "../../styles/main.scss";

.banner {
  position: relative;
  width: 100%;
  padding-top: rem(84);

  &__image {
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__image::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba($blue, 0.9);
  }

  &__text {
    width: 90%;
    max-width: rem(1440);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: rem(36);
      font-family: $poppins;
      font-weight: bold;
      color: $white;

      @include breakpoint(large) {
        font-size: rem(48);
      }
    }
  }

  &__wave {
    position: absolute;
    bottom: 0%;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    img {
      height: rem(84);
      margin-top: auto;
      object-fit: cover;
      width: 100%;
    }
  }
}

.banner_main {
  height: 100vh;

  .banner__text {
    text-align: center;
    padding-top: rem(56);
  }
}

.banner_secondary {
  height: rem(450);
  .banner__text {
    padding-top: rem(18);
    text-align: start;
  }
}
